<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="foo,bar">
        <meta name="description" content="foo">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" contents="width=device-width, initial-scale=1.0">
        <title>List of Receipts</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>

