<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="foo,bar">
        <meta name="description" content="foo">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" contents="width=device-width, initial-scale=1.0">
        <title>List of Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% for user in user_login %}
                        {% if user is True %}
                            <li>
                                <a href="{% url 'Logout' %}">Logout</a>
                            </li>
                        {% endif %}
                        {% if user is False %}
                            <li>
                                <a href="{% url 'Signup' %}">Signup</a>
                                <a href="{% url 'Login' %}">Login</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
